---
layout: page
title: 关于
header: About me
group: navigation
index: 4
---
{% include JB/setup %}

<h2>关于我</h2>

<p>万千苦逼程序猿中的一个，Android开发、科技脑残粉, 爱技术、爱尝鲜，当然我也爱钱 ^_^，我很懒！</p>

<pre class="prettyprint">
Nick = 'IQuick'
Name = 'Li'
description = 'Android Developer, Technology Fans, Love Money, Lazy'

while true
  programing
  reading
  enjoying
end
</pre>

<h2>联系我</h2>

<ul>
	<li>
		<p>Github：<a href="https://github.com/iQuick">https://github.com/iQuick</a></p>
	</li>
	<li>
		<p>EMail: 398456983@qq.com</p>
	</li>
	<li>
		<p>简历: <a href="http://www.imli.me/static/resume-2016">http://www.imli.me/static/resume-2016</a></p>
	</li>
	<li>
		<p>博客订阅：<a href="http://iquick.github.io/rss.xml">http://iquick.github.io/rss.xml</a></p>
	</li>
	<li>
		<p>博客导航：<a href="{{ BASE_PATH}}/pages.html">{{ BASE_PATH}}http://iquick.github.io/pages.html</a></p>
	</li>
	<li>
		<p>打赏我：如果觉得我的博客，或者我的各种分享对您有帮助，不妨支付宝扫描打赏我杯咖啡吧，我将更有动力。</p>
		<img src="{{BASE_PATH}}/images/zf.jpg">
	</li>
</ul>

{% include custom/duoshuo%}
